{% extends 'base.html' %}
{% block content %}

<div class="container center">
    <div class="row">
            <div class="col s12 center">
                <h3> Weeding friends gallery</h3>
                {% include "image_gallery.html" with images=imagegallery_list %} 
            </div>
    </div>
</div>

{% endblock %}