
<div class="row">
    <div class="class col s2 m2 l2">
        <form action="{% url 'home' %}" method="get">
            <select class="browser-default", name="sort_by">
                <option value="" disabled selected>Sort by</option>
                <option value="uploaded_at">date</option>
                <option value="likes">like</option>
            </select>
            <input type="submit"/>
        </form>
    </div>
</div>

<div class="row">
    {% for image in images %}
    <div class="col s4 m4 l4">
        <div class="card">
          <div class="card-image">
              <img src="{{ image.image.url }}">
              <span class="card-title"></span>
          </div>
          <div class="card-content">
                <p><strong>Title:</strong> {{ image.title }}</p>
          </div>
          <div class="card-action">
                <a href="javascript:void(0)" class="like" data-image-id="{{ image.id }}" >Like ({{ image.likes}})</a>
          </div>
        </div>
    </div>
    {% empty %}
    <h4> Not images yet!</h4>
    {% endfor %}
</div>



