<nav>
    <div class="nav-wrapper teal lighten-2">
      <!-- <a href="#" class="brand-logo right">Logo</a> -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'upload_image' %}">Upload Image</a></li>
        <li><a href="{% url 'home' %}">Image Gallery</a></li>
        <li><a href="{% url 'admin:index' %}">Login</a></li>
      </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'upload_image' %}">Upload Image</a></li>
    <li><a href="{% url 'home' %}">Image Gallery</a></li>
</ul>
