{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col s12 center">
            <h3>Upload Image</h3>
        </div>
</div>
<div class="row">
    <div class="col s4 offset-s4 center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.image.errors %}
                {% for error in form.image.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            {% endif %}
            <div class="input-field">
                <input id="input_text" type="text" data-length="10" name="title">
                <label for="input_text">Title</label>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Image</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name="image" placeholder="Click here to upload">
                </div>
            </div>
            <button class="btn waves-effect waves-light center" type="submit" name="action">Upload
            </button>
        </form>
        <p><a href="{% url 'home' %}">Return to Image Gallery</a></p>
    </div>
</div>
{% endblock %}